html
{
	background-image: url("background.jpg");
	display: flex;
	justify-content: center;
	font-family: 'Dosis', sans-serif;
}

body
{
	width: 60vw;
}

/*NAVIGATION*/
nav
{
	/*background-color: #c49b74;*/
	width: 100%;
	margin-bottom: 2vw;
	font-size: 2vw;
}

nav > ul
{
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;
}

.tab
{
	padding-left: 2.2vw;
	padding-right: 2.2vw;
}


/*STICKY BIT*/
aside
{
	border: 1px solid black;
	position: fixed;
	top: 5rem;
	left: 0;
	width: 18vw;
	display: flex;
	justify-content: center;
}

aside > form
{
	width: 18vw;
}

.sidestat, div
{
	display: block;
}

.sidestat > label
{
	font-size: 1.5vw;
}

.sidephysical, .sidemental
{
	display: block;
}

.sidephysical > .sidestat, .sidemental > .sidestat, .sidehealth > .sidestat
{
	display: inline;
}

/*MAIN PAGE*/
h1, h2 { text-align: center; }

/*FORMS*/

form
{
	font-size: 1.7vw;
}

/*INPUT FIELDS*/
input, textarea
{
	background: transparent;
}

textarea
{
	width: 60vw;
	height: 50vh;
	font-family: 'Dosis', sans-serif;
	font-size: 1.5vw;
}

input
{
	width: 2.5vw;
	height: 2vw;
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-size: 1.5vw;
}

.info > input
{
	width: 10vw;
}

/*CHARACTER INFO PAGE*/

.charinfo
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.info { margin: 10px; }

.info > label, .info > input { display: block; }

.info > label
{
	width: 100%;
	text-align: center;
}

#charname { width: 15vw; }

#charsize, #charage { width: 3vw; }

#chargender, #charalign { width: 7vw; }

.physical, .mental
{
	display: flex;
}


.stat
{
	display: flex;
	justify-content: center;
	border: 1px solid black;
	width: 100%;
	height: 100%;
	margin: 10px;
	padding: 10px;
}

.field > input, .field > label
{
	display: block;
	margin: 0;
	width: 85%;
	text-align: center;
}

/*OFFENCE*/

#offence
{
	display: flex;
	justify-content: center;
}

.offence
{
	display: inline;
	margin: 10px;
}

#weapon { width: 15vw; }

.container > div
{
	margin: 20px;
}

/*DEFENCE*/

.ac
{
	margin-bottom: 20px;
}

#acnormal
{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

#acother
{
	display: flex;
	justify-content: center;
}

td > input, #touch > input, #flat > input, .offence > input
{
	width: 4.5vw;
	height: 5vh;
}

#touch, #flat
{
	display: inline;
	margin: 10px;
}

.labels > th
{
	font-size: 1.2vw;
	text-align: center;
	font-weight: normal;
}

.wrapper
{
	display: flex;
	justify-content: center;
}

/*SAVES*/

.saves
{
	display: flex;
	justify-content: center;
}

.save
{
	margin: 10px;
}

/*SKILLS*/

.skill > td > input
{
	width: 5vw;
}