@charset "utf-8";

h1, h2, h3 { text-align: center; }

.container
{
	width: 480px;
	height: 360px;
	align-content: center;
}

html
{
	background-image: url("background.jpg");
	display: flex;
	justify-content: center;
	font-family: 'Dosis', sans-serif;
}

body
{
    width: 60vw;
	justify-content: center;
}

/*INPUT FIELDS*/
input, textarea
{
	background: transparent;
}

textarea
{
	width: 60vw;
	height: 50vh;
	font-family: 'Dosis', sans-serif;
	font-size: 1.5vw;
}

input
{
	width: 200px;
	height: 2vw;
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-size: 1.5vw;
}

.info > input
{
	width: 200px;
}

/* CREATE CHARACTER PAGE */
div.input-group
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

/* FOOTER STYLES */

footer {
	background-color: transparent;	
	font-family: serif;
	color: black;	
	font-size: 1.0em;
	text-align: center;
	padding: 25px;
	font-family: 'Dosis', sans-serif;
}

body#login 
{
	line-height: 3.4;
}

/* STYLES FOR EXP BAR */

body div#exp-bar div{
	position: relative;
}

body div#exp-bar{
	text-align: center;
}

#exp-bar > div
{
	box-shadow: 10px 10px 10px black;
}
body  div#exp-bar div p#exp-max {
	float: left;
	color: red;
	text-align: center;
	background-color: red;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 1vw;
	width: 50%;
	border-top: 0.15vw ridge black;
	border-bottom: 0.15vw ridge black;
	border-right: 0.15vw ridge black;
	box-shadow: 0.1vw 0.1vw 3px grey;
}

body div#exp-bar div p#exp-earned{
	float: left;
	color: white;
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 1vw;
	background-color: green;
	width: 50%;
	border-top: 0.15vw ridge black;
	border-bottom: 0.15vw ridge black;
	border-left: 0.15vw ridge black;
	box-shadow: 0.1vw 0.1vw 3px grey;
}

body div#exp-bar::after 
{
	content: "";
}